/* @font-face {
    font-family: OutRun;
    src: url("https://jackphilippi.com.au/cdn/fonts/outrun_future.otf") format("opentype");
  } */

.nwr-background {
  height: 65%;
  width: 100%;
  z-index: -1;
  position: fixed;
  overflow: hidden;
}

.nwr-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.perspective-wrapper {
    width: 100%;
    height: 75%;
    position: absolute;
    top: 26%;
    perspective: 50vh;
    perspective-origin: 50% 45%;
    background: linear-gradient(rgba(0, 0, 0, 0) 50%, #cf33d9 55%, rgba(27, 3, 163, 0.2) 65%);
  }

.landscape {
    position: absolute;
    width: 200%;
    left: -30%;
    height: 130%;
    bottom: -30%;
    background-image: -webkit-linear-gradient(top, #CF33D9 2px, transparent 2px), -webkit-linear-gradient(left, #CF33D9 2px, transparent 2px);
    background-size: 50px 50px, 80px 80px;
    background-position: -1px -1px, -1px -1px;
    transform: rotateX(85deg);
    animation: moveUp 1s infinite linear;
}

.triangle {
    position: absolute;
    z-index: 0;
    margin: auto;
    top: 50%;
    left: 50%;
    border-left: 450px solid transparent;
    border-right: 240px solid transparent;
    border-bottom: 250px solid rgba(5, 5, 5, 0.6);
    transform: translate(-50%, -50%) rotate(15deg);
}

.nrw {
  position: absolute;
  z-index: 1;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: rotate(-10deg) skew(-20deg) translate(-50%, -50%);
}

.new {
  font-family: "Open Sans";
  font-size: 100px;
  font-weight: 100px;
  color: transparent;
  -webkit-text-stroke: 2px #F4C6F4;
  letter-spacing: 2px;
}
.letter {
  -webkit-text-stroke: 2px #F4C6F4;
  margin-top: -8px;
  display: inline-block;
  padding: 0 1px;
  animation: glow 2.5s linear infinite;
}

.retro {
    font-size: 75px;
    font-weight: 800;
    text-transform: uppercase;
    font-family: "OutRun", "Helvetica", sans-serif;
    background: linear-gradient(to bottom, #18191a 32%, #157be6 40%, #ffffff 52%, #18191a 56%, #157be6 85%, #ffffff);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: #FFF;
    letter-spacing: 2px;
    transform: rotate(-10deg) skew(-20deg);
    margin: 60px -20px -75px 90px;
}


@keyframes moveUp{
  0% {
    background-position: -1px -1px, -1px -1px;
  }
  100% {
    background-position: -50px -50px, -1px -1px;
  }
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 6px #CF33D9) drop-shadow(0 0 6px #CF33D9);
  }

  50% {
    filter: drop-shadow(0 0 1px #CF33D9) drop-shadow(0 0 1px #CF33D9);
  }

  100% {
    filter: drop-shadow(0 0 6px #CF33D9) drop-shadow(0 0 6px #CF33D9);
  }
}

